/* Chapter 10 : DOM Events */ 
/* 
body{
    text-align: center;
    //display: flex; 
    justify-content: center; 
    
}

div{
    height : 100px; 
    width: 500px;
    border: 1px solid black; 
    margin: 20px;
} */

/* Event Listener for elements */
.box{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 1px solid black;
}