div{
    background-color: yellow;
}
 
form{
    background-color: red;
} 

input{
    background-color: inherit;
}

button{
    background-color: inherit;
}

button:hover{
    background-color: red;
}

/* Try color pallets from internet : 1) My Color Space 2: colors  */